body {
    color:black;
    background:#f7f7f7;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    border: solid 2xp rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada{
    background: rgb(248, 30, 255);
    padding-bottom: 80xp;
    padding-top: 80xp;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categotia {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid  green;
}

.categotia h2 {
    color: rgb(42, 122, 228);
}


